html{
  color: #35363f;
}

body {
  margin: 0;
  padding: 0;
  background: rgba(104, 103, 102, 0.1);

}
a {
  color: #146c94;
  text-decoration: none;
}

h1 ,h2,h3,h4,p{
  margin: 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  line-height: 160%;
}

ul{
  list-style: none;
  padding: 0;
}

button{
  background-color: #F6CE3B;
  border-radius: 20px;
  border: dotted;
  height: 60px;
  width: 130px;
}

button:hover{
  background-color: #d2b445;
}

select{
  height: 20px;
}

footer{
  text-align: center;
  background: #5d5c5c;
  color: azure;
}

footer a{
  color: azure;
}
