.kv{
  z-index: -1;
}
.shopList {
  list-style: none;
  padding: 0;
  border-top: 1px solid #ccc;
}

.shop {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin: 20px 0;
  display: flex;
}

.leftSide {
  padding: 5px;
}

.rightSide {
  padding: 5px;
}

.name {
  font-size: 20px;
  margin: 10px 0;
}

.catch {
  color: #444;
  font-size: 14px;
  font-weight: bold;
}

.address,
.open {
  color: #444;
  font-size: 14px;
}

.bold {
  font-weight: bold;
}
/*first_view*/

.first_view{
  max-width: 1200px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 10px 0  ;

}

.first_view div{
  width: 40%;
  text-align: center;
  line-height: 200%;
}

.fv_image{
  padding-right: 10%;
  border-radius: 10px;
}


/*店舗詳細*/

.detail_area{
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.shopdetail_wrap{
  display: block;
  border-radius: 5px;
  border: 1px solid #d4d3d1  ;
}

.shopdetail_list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #d0d0ce;
  background: #f3f2ee;
}

.shopdetail_list h4{
  width: 40%;
}

.shopdetail_list p{
  width: 60%;
}

.topic_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;

}

.topic_li{
  max-width: 230px;
  min-width: 220px;
  min-height: 300px;
  margin:1% 2%;
  text-align: center;
  border-radius: 20px;
  border: #444 dotted;
}

.topic_img{
  min-width: 200px;
  min-height: 20px;
}

