.top_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f0e091;
    min-height: 5vh;
    color: #000;
}
.top_header h1 {
    font-family: 'Monomaniac One', cursive;
    font-size: 2.5rem;
    color: #007d13;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    min-width: 1200px;
}
.header_ul{
    display: flex;
    justify-content: space-between;
    min-width: 25%;
}
.header_ul a {
    font-family: 'Monomaniac One', cursive;
    font-size: 1.6rem;
    color: #146c94;
}
.title{
    margin: 0;
}